<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <div class="col-md-10 col-md-offset-1">
    <h3><%= post.user.email %> | <small><%= time_ago_in_words post.created_at %></small></h3>
    <p><%= post.content %></p>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>

