<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= link_to post.title, post, class: "panel-title" %></h1>
      <p><strong><%= link_to post.user.email %></strong></p>
      <p><%= post.created_at.strftime("%I:%M %p %m/%d/%Y") %></p>
    </div>
    <div class="panel-body">
      <p><%= post.content[0..1000] %> (<%= link_to 'Read More', post %>)</p>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to 'Show', post, class: "btn btn-info" %>
        <% if user_signed_in? && (current_user.id == post.user_id) %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>

