<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div class="well">
	<p><%= @post.content.html_safe %>
	</p>
</div>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<% if user_signed_in? && (current_user.id == @post.user_id) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
